@font-face {
  font-family: 'Adult Swim';
  src: url('LiberationSans-Bold.ttf');
}

body {
  margin: 0px;
  height: 100%;
  overflow-x:hidden;
  scroll-behavior: auto;
  background-color: rgba(0,0,0);
}

.bg-image {
  position: fixed;
  background-image: url("/Images/background-image@0.25x@0.75x.jpg");
  opacity:15%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  -webkit-filter: blur(0px);
  height:100%;
  width:100%;
}

* {
  box-sizing: border-box;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  /* cursor: none; */
}

html {
  
}

canvas {
  position: absolute;
  pointer-events: none;
}

/* use alt for picture captions if u want to */

/* have image popup using modal*/
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 100px;
  margin-right: 10px;
  cursor: none;
  z-index: 10;
  transition: 0.3s ease;
}

#close:hover {
  color:grey;
  transition: 0.3s ease;
}

.image-for-modal {
  margin: 10px;
  scale: 0.8;
  display: flex;
  justify-content: center;
}

#profile_pic {
  z-index:20;
  animation: slideFromBottom 3s ease;
  animation-fill-mode: backwards;
  image-rendering: optimizeQuality;
  display: flex;
  width: 300px;
  margin-top: 100px;
  justify-content: center;
  transition: 1s;
}

#image-eight {
  justify-content: flex-start;
}

canvas {
  position: fixed !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

ul,
li,
h1, p {
  font-family: 'Adult Swim';
  list-style-type: none;
  color: white;
  padding: 10px;
  font-size: 3rem;
  text-decoration: none;
  transition: 1s;
  cursor: none;
  
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  font-size: 10rem;
  margin-top:10%;
  transition: 1s ease;
  animation: fadein 2s ease;
}

.about-container {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-text {
  width:75%;
  word-wrap: normal;
  font-size:2rem;
  animation: fadein 6s ease;
}

a, li {
  color:white;
  font-size: 2rem;
  margin:0px;
  padding: 0px;
  text-decoration: underline 0.2rem rgb(255, 255, 255, 0);
  transition: 600ms;
}

a:hover {
  text-decoration: underline 0.2rem rgb(255, 255, 255, 1);
  cursor:default;
}

#image-1, #image-2, #image-3, #image-4, #image-5, #image-6, #image-7, #image-8, #image-9, #image-10 {
    animation: slideFromBottomForImages 5s ease;
    transform: scale(1.0);
    transition: 1s;
    animation-fill-mode: backwards;
    image-rendering: optimizeQuality;
    margin: auto;
    align-content: center;
    position: relative;
    opacity: 50%;
}

/*this looks so scuffed I know but I don't care at this point, it works */
#image-1:hover, #image-2:hover, #image-3:hover, #image-4:hover, #image-5:hover, #image-6:hover, #image-7:hover, #image-8:hover,#image-9:hover, #image-10:hover {
  transform: translateY(40px);
  transform: scale(1.05);
  justify-content: center;
  align-content: center;
  z-index: 1;
  transition: 1s ease-in-out;
  opacity: 100%;
}

/* Clearfix (clear floats) */
.image-row::after {
  content: "";
  clear: both;
  display: block;
}

#image-eight {
  size:50%;
}

.nav_bar {
  position: sticky;
  z-index: 2;
  margin: 0px;
  animation: slideFromBottom 4.1s ease-out;
  animation-fill-mode: backwards;
  opacity: 75%;
  top: 0;
  background-color: rgba(0,0,0,.75);
}

#nav-bar-text { 
  justify-content: left;
}

.column {
  float: right;
  width: 33.33%;
  padding: 20px;
  position: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .nav_bar {
    width:100%;
  }
}

@media screen and (max-width: 700px) { 
  a {
    font-size: medium;
  }
  .nav_bar {
    width:100%;
  }

  #about-text {
    width:650px;
    font-size:medium;
  }
}

@media screen and (max-width: 475px) { 
  a {
    font-size: large;
  }
  
  .nav_bar {
    width:100%;
  }

  #about-text {
    width:400px;
    font-size:medium;
  }

  #name {
    font-size:50px;
  }
}

@media screen and (max-width: 800px) {
  .column {
    width: 50%;
  
  }
  li {
    text-size-adjust: 100%;
  }
}

/* animations */
@keyframes slideFromBottom {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%
  }
}

@keyframes fadeout {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%
  }
}

@keyframes scaleUp {
  0% {
    width: 300px;
  }
  100% {
    width: 900px;
  }
}

@keyframes slideFromBottomForImages {
    0% {
      transform: translateY(-3000px);
    }
    100% {
      transform: translateY(0px);
    }
}