body {
  background-color: black;
  overflow-x: hidden;
}

* {
  font-family: "Josefin Sans";
  box-sizing: border-box;
  justify-content: center;
  margin: 10px;
  padding: 0;
  cursor: none;
}

canvas {
  position: absolute;
  pointer-events: none;
}

#profile_pic {
  animation: slideFromBottom 4s ease;
  animation-fill-mode: backwards;
  image-rendering: optimizeQuality;
  width: 300px;
  align-content: center;
  transition: 1s;
}

#profile_pic:hover {
  width: 350px;
  transition: 1s;
}

#image-eight {
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

ul,
li,
a,
h1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 2rem;
  text-decoration: none;
  transition: 1s;
  cursor: none;
}

p {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin: 50px;
}

h1 {
  padding-top: 30px;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  cursor: none;
  font-size: 3rem;
  transition: 1s;
}

#image {
    animation: slideFromBottom2 5s ease;
    animation-fill-mode: backwards;
    image-rendering: optimizeQuality;
    margin: auto;
    align-content: center;
    transition: 1s;
     position: relative;
}

.nav_bar {
  position: sticky;
  z-index: 1;
  animation: slideFromBottom 4s ease-out;
  animation-fill-mode: backwards;
  opacity: 75%;
  top: 0;
  background-color: black;
}

#image:hover {
  transform: translateY(-20px);
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  position: absolute;
}

/* Clearfix (clear floats) */
.image-row::after {
  content: "";
  clear: both;
  display: block;
}

#image1:hover {
  transform: translateY(-15px);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
  }
}

  @keyframes slideFromBottom2 {
    0% {
      transform: translateY(-3000px);
    }
    100% {
      transform: translateY(0px);
    }
}
